* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  padding: 2rem;
  transition: all 1s;
  background-image: linear-gradient(200deg, #1ed296, #d63aa2);
  background-size: 200% 200%;
  animation: gradient 3s linear infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 5px 10px #000;
  z-index: 1;
}

.main-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(200deg, #d858c9, #15d58b);
  background-size: 200% 200%;
  animation: gradient 3s linear infinite;
  opacity: 0;
  transition: all 0.4s linear;
  z-index: -1;
}
@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.main-container:hover::before {
  opacity: 1;
}

.social a {
  padding: 0.5rem;
  font-size: 3rem;
}
.finalmsg p {
  font-size: 2rem;
  font-family: monospace;
  color: #fff;
  text-shadow: 2px 2px 19px rgb(0, 0, 0);
  font-weight: 600;
}

.footerlogo {
  height: 5rem;
  width: 5rem;
}

.fa-heart {
  color: red;
  margin: 0 0.2rem;
  animation: bump 0.3s infinite alternate;
  text-shadow: none;
}
@keyframes bump {
  to {
    transform: scale(1.5);
  }
}

.fa-github {
  color: #171515;
  padding: 0.55rem;
  border-radius: 1rem;
  transition: all 0.5s;
}
.fa-linkedin {
  color: #0077b5;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}

.fa-instagram {
  color: #b44b67;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}
.fa-youtube {
  color: #c4302b;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}

.fa-heart:hover {
  cursor: none;
}
.fa-github:hover {
  color: #fff;
  background-color: #171515bf;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  transform: scale(0.5);
}
.fa-linkedin:hover {
  color: #fff;
  background-color: #0076b571;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  transform: scale(0.5);
}
.fa-instagram:hover {
  color: #fff;
  transform: scale(0.5);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  background-color: #cd486bb5;
}
.fa-youtube:hover {
  transform: scale(0.5);
  color: #fff;
  background-color: #c4302b9c;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.container {
  position: relative;
}

#circle {
  position: absolute;
  top: 0;
  left: 0;
}

#circle text {
  font-family: "Helvetica Neue", Arial;
  font-size: 2rem;
  font-weight: 400;
}

#circle svg {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* media-queries */
@media all and (max-width: 980px) {
  .finalmsg p {
    font-size: 1.3rem;
  }
  .footerlogo {
    height: 3rem;
    width: 3rem;
  }
  .social a {
    font-size: 3rem;
    padding: 0;
  }
}

@media all and (max-width: 700px) {
  .finalmsg p {
    font-size: 1rem;
  }
  .footerlogo {
    height: 3rem;
    width: 3rem;
  }
  .social a {
    font-size: 2.1rem;
    padding: 0.1rem;
  }
}

@media all and (max-width: 415px) {
  .main-container{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footerlogo {
    margin-right: 1rem;
  }
  .finalmsg  {
    align-self: flex-end;
    width: 100%;
    text-align: center;
  }
  .finalmsg p {
    margin-top: 1.3rem;
    font-size: 1.3rem;
  }

  
  
}
