* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  padding: 2rem;
  transition: all 1s;
  background-image: linear-gradient(200deg, #1ed296, #d63aa2);
  background-size: 200% 200%;
  animation: gradient 3s linear infinite;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 15px #000;
  z-index: 1;
}

.main-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(200deg, #d858c9, #15d58b);
  background-size: 200% 200%;
  animation: gradient 3s linear infinite;
  opacity: 0;
  transition: all 0.4s linear;
  z-index: -1;
}
@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.main-container:hover::before {
  opacity: 1;
}

.social a {
  padding: 0.5rem;
  font-size: 3.5rem;
}

.finalmsg p {
  font-size: 2rem;
  font-family: monospace;
  color: #fff;
  text-shadow: 2px 2px 19px rgb(0, 0, 0);
  font-weight: 600;
}

.footerlogo {
  height: 3.5rem;
  width: 3.5rem;
  animation: antirotate 12s linear infinite;
}

.fa-heart {
  color: red;
  margin: 0 0.2rem;
  animation: bump 0.3s infinite alternate;
  text-shadow: none;
}
@keyframes bump {
  to {
    transform: scale(1.5);
  }
}

.fa-github {
  color: #171515;
  padding: 0.55rem;
  border-radius: 1rem;
  transition: all 0.5s;
}
.fa-linkedin {
  color: #0077b5;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}

.fa-instagram {
  color: #b44b67;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}
.fa-youtube {
  color: #c4302b;
  padding: 0.2em;
  border-radius: 1rem;
  transition: all 0.5s;
}

.fa-heart:hover {
  cursor: none;
}
.fa-github:hover {
  color: #fff;
  background-color: #171515;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  transform: scale(0.7);
}
.fa-linkedin:hover {
  color: #fff;
  background-color: #0076b5;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  transform: scale(0.7);
}
.fa-instagram:hover {
  color: #fff;
  transform: scale(0.7);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  background-color: #cd486b;
}
.fa-youtube:hover {
  transform: scale(0.7);
  color: #fff;
  background-color: #c4302b;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.container {
  position: relative;
  margin-left: 5rem;
}

#circle {
  position: absolute;
  transition: all 0.5s;
  top: -4.5rem;
  left: -4.5rem;
}

#circle text {
  font-family: "Helvetica Neue", Arial;
  font-size: 2.1rem;
  font-weight: 400;
}

#circle svg {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes antirotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

#circle:hover,
.footerlogo:hover {
  transform: scale(0.78);
}

.copyright {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

/* media-queries */

@media all and (max-width: 1060px) {
  .finalmsg p {
    font-size: 1.2rem;
  }
  .footerlogo {
    height: 3.5rem;
    width: 3.5rem;
  }
  .social a {
    font-size: 3rem;
    padding: 0.1rem;
  }
  #circle {
    position: absolute;
    transition: all 0.5s;
    top: -4.5rem;
    left: -4.5rem;
  }
  .container {
    margin-right: 5rem;
  }
}

@media all and (max-width: 880px) {
  .finalmsg p {
    font-size: 1.2rem;
  }
  .footerlogo {
    height: 3.5rem;
    width: 3.5rem;
  }
  .social a {
    font-size: 2rem;
    padding: 0.1rem;
  }
  #circle {
    position: absolute;
    transition: all 0.5s;
    top: -4.5rem;
    transform: scale(0.8);
    left: -4.5rem;
  }
  .container {
    margin-right: 1rem;
  }
}

@media all and (max-width: 750px) {
  .finalmsg p {
    font-size: 1.1rem;
  }
  .footerlogo {
    height: 3rem;
    width: 3rem;
  }
  .social a {
    font-size: 2.1rem;
    padding: 0.1rem;
  }
  .finalmsg {
    width: 100%;
    text-align: center;
  }
  #circle {
    transform: scale(0.7);
    position: absolute;
    transition: all 0.5s;
    top: -4.8em;
    left: -4.8rem;
  }
  
}

@media all and (max-width: 450px) {
  
  .social a {
    font-size: 2.5rem;
    padding: 0.7rem;
  }
  #circle {
    transform: scale(0.9);
    position: absolute;
    transition: all 0.5s;
    top: -4.3rem;
    left: -1.7rem;
  }
  .footerlogo {
    height: 4rem;
    width: 4rem;
    margin-left: 2.6rem;
  }
  .finalmsg {
    width: 100%;
    text-align: center;
  }
  .finalmsg p {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
}
