* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(22, 200, 78) , yellow); 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social a {
    margin: 1rem;
    font-size: 2rem;
}

.footerlogo img {
    width: 3rem;
}


.fa-heart {
    color: red;
}
.fa-github {
    color: #171515 ;
}
.fa-linkedin {
    color:#0077b5;
}

.fa-instagram {
    color:#cd486b;
}
.fa-youtube {
    color: red;
}